// base
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/buttons';



// lib
@import 'lib/reset-min';

// blocks //
// header
@import 'blocks/header/header';
@import 'blocks/header/header-adaptive';
// promo
@import 'blocks/promo/promo';
@import 'blocks/promo/promo-adaptive';
// expert
@import 'blocks/expert/expert';
@import 'blocks/expert/expert-adaptive';
// features
@import 'blocks/features/features';
@import 'blocks/features/features-adaptive';
// data
@import 'blocks/data/data';
@import 'blocks/data/data-adaptive';
// footer
@import 'blocks/footer/footer';
@import 'blocks/footer/footer-adaptive';
// industry
@import 'blocks/industry/industry';
@import 'blocks/industry/industry-adaptive';
// work
@import 'blocks/work/work';
@import 'blocks/work/work.adaptive';


// media
@import 'base/media';


a {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}