// base
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/buttons';



// lib
@import 'lib/reset-min';

// blocks //
// header
@import 'blocks/header/header';
// promo
@import 'blocks/promo/promo';
// expert
@import 'blocks/expert/expert';
// features
@import 'blocks/features/features';
// data
@import 'blocks/data/data';
// footer
@import 'blocks/footer/footer';
// industry
@import 'blocks/industry/industry';
// work
@import 'blocks/work/work';


// media
@import 'base/media';


a {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}