@media (max-width: 1200px) {
    .footer{
        &__wrapper{
            grid-template-columns: repeat(4, auto);
            column-gap: 30px;
        }
    }

}
@media (max-width: 992px) {
    
    
}

@media (max-width: 769px) {
  
    .footer{
        &__wrapper{
            grid-template-columns: repeat(1, 1fr);
            row-gap: 30px;
            text-align: center;
            ul{
                li{
                    padding: 10px 0;
                }
            }
        }
        &__company{
            &-logo{
                img{
                    margin: 25px auto;
                    display: block;
                }
            }
        }
    }

}

@media (max-width: 576px) {
 
}