@media (max-width: 1200px) {
   

}
@media (max-width: 992px) {
    
    
}

@media (max-width: 769px) {
  .data{
    &__text{
        text-align: center;
        margin-top: 60px;
        &-left, &-right{
            text-align: center;
        }
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        row-gap:40px;
        &-subtitle{
            margin-top: 15px;
        }
    }
  }
    
}

@media (max-width: 576px) {
 
}