@media (max-width: 1200px) {
    .features{
        &__wrapper{
            grid-template-columns: repeat(2,1fr);
            row-gap: 30px;
        }
    }

}
@media (max-width: 992px) {
    
    
}

@media (max-width: 769px) {
    .features{
        &__wrapper{
           display: flex;
           align-items:center;
           flex-direction: column;
        }
    }
    
}

@media (max-width: 576px) {
   .features{
    &__item{
        width: 95%;
    }
   }
}